@import "../../../../assets/css/base.scss";
$viewW:640px;
.zmiti-index-main-ui{
  @include displayBox(vertical);
   @include transition(.4s);
 &.left{
    @include transform(translate3d(-$viewW,0,0) scale(.8));
  }
  &.active{
    opacity:1;
    @include transform(translate3d(0,0,0));
  }
  &.right{
    @include transform(translate3d($viewW*1.5,0,0) scale(2));
    opacity:0;
  }
}
.zmiti-index{
  width: 100%;
  div:nth-of-type(1){
    width: 100%;
  }
  div:nth-of-type(2),div:nth-of-type(3){
      img{
        width: 200px;
          @include transition(.1s);
        &.active{
          @include transform(translate3d(0,10px,0) scale(.95));
        }
      }
      margin: 40px 0;
      text-align: center;
  }

}
