/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }

.zmiti-main-main-ui {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
  height: 100vh;
  width: 100vw;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden; }
  .zmiti-main-main-ui.left {
    -webkit-transform: translate3d(-640px, 0, 0) scale(0.8);
    transform: translate3d(-640px, 0, 0) scale(0.8); }
  .zmiti-main-main-ui.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .zmiti-main-main-ui.right {
    -webkit-transform: translate3d(960px, 0, 0) scale(2);
    transform: translate3d(960px, 0, 0) scale(2);
    z-index: 0; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(1) {
    top: 109px;
    -webkit-animation: sb 6s linear forwards;
    animation: sb 6s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(2) {
    top: 116px;
    -webkit-animation: sb 12s linear forwards;
    animation: sb 12s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(3) {
    top: 145px;
    -webkit-animation: sb 6s linear forwards;
    animation: sb 6s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(4) {
    top: 133px;
    -webkit-animation: sb 7s linear forwards;
    animation: sb 7s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(5) {
    top: 133px;
    -webkit-animation: sb 7s linear forwards;
    animation: sb 7s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(6) {
    top: 140px;
    -webkit-animation: sb 7s linear forwards;
    animation: sb 7s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(7) {
    top: 118px;
    -webkit-animation: sb 9s linear forwards;
    animation: sb 9s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(8) {
    top: 143px;
    -webkit-animation: sb 12s linear forwards;
    animation: sb 12s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(9) {
    top: 122px;
    -webkit-animation: sb 11s linear forwards;
    animation: sb 11s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(10) {
    top: 126px;
    -webkit-animation: sb 12s linear forwards;
    animation: sb 12s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(11) {
    top: 141px;
    -webkit-animation: sb 6s linear forwards;
    animation: sb 6s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(12) {
    top: 105px;
    -webkit-animation: sb 8s linear forwards;
    animation: sb 8s linear forwards; }
  .zmiti-main-main-ui .zmiti-submit-item:nth-of-type(13) {
    top: 120px;
    -webkit-animation: sb 12s linear forwards;
    animation: sb 12s linear forwards; }
  .zmiti-main-main-ui .zmiti-main-bg {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0; }
    .zmiti-main-main-ui .zmiti-main-bg.animate {
      -webkit-animation: bgMove 10s linear infinite;
      animation: bgMove 10s linear infinite; }
    .zmiti-main-main-ui .zmiti-main-bg img {
      width: auto;
      height: 100%;
      font-size: 0;
      margin: 0;
      padding: 0;
      margin-left: 0; }
      .zmiti-main-main-ui .zmiti-main-bg img:last-of-type {
        margin-top: -1px; }
    .zmiti-main-main-ui .zmiti-main-bg .zmiti-index-grass {
      position: absolute;
      width: 100%;
      height: 800px;
      bottom: 0px; }
  .zmiti-main-main-ui .zmiti-person {
    position: absolute;
    left: 90px;
    z-index: 100; }
  .zmiti-main-main-ui .zmiti-scroll-bar {
    width: 30px;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    background: #fff;
    right: 0; }
    .zmiti-main-main-ui .zmiti-scroll-bar div {
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset; }
  .zmiti-main-main-ui .zmiti-logo {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 200px;
    -webkit-transform: translate3d(0, -600px, 0);
    transform: translate3d(0, -600px, 0);
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
    transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865); }
    .zmiti-main-main-ui .zmiti-logo.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .zmiti-main-main-ui .zmiti-logo svg {
      position: absolute;
      top: 40px;
      width: 100%;
      height: 120px;
      left: 0;
      z-index: 10; }
      .zmiti-main-main-ui .zmiti-logo svg .zmiti-text-path {
        font-size: 50px;
        color: #cf000d;
        font-family: hy; }
  .zmiti-main-main-ui .zmiti-addone {
    position: absolute;
    left: 360px;
    top: 40px;
    opacity: 0; }
    .zmiti-main-main-ui .zmiti-addone.active {
      -webkit-animation: addone 1s 0.1s forwards;
      animation: addone 1s 0.1s forwards; }
  .zmiti-main-main-ui .zmiti-begingrab {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 100; }
    .zmiti-main-main-ui .zmiti-begingrab:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5) inset; }
    .zmiti-main-main-ui .zmiti-begingrab.active {
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
      -webkit-transform: translate3d(-5px, 0, 0) scale(0.98) rotate(90deg);
      transform: translate3d(-5px, 0, 0) scale(0.98) rotate(90deg); }
  .zmiti-main-main-ui .zmiti-mask {
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-flow: row;
        flex-flow: row; }
    .zmiti-main-main-ui .zmiti-mask > div {
      width: 500px;
      -webkit-transition: 1s;
      transition: 1s;
      font-size: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg);
      transform: translate3d(-50%, -50%, 0) rotate(90deg); }
      .zmiti-main-main-ui .zmiti-mask > div .zmiti-mask-text1 {
        color: #e01329;
        position: absolute;
        font-size: 28px;
        top: 30%;
        left: 20%; }
      .zmiti-main-main-ui .zmiti-mask > div .zmiti-mask-text {
        color: #000;
        font-size: 28px;
        width: 63%;
        max-height: 100px;
        position: absolute;
        top: 54%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .zmiti-main-main-ui .zmiti-mask > div .zmiti-mask-text.r2 {
          color: #940000; }
  .zmiti-main-main-ui .zmiti-result-C {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5); }
    .zmiti-main-main-ui .zmiti-result-C div {
      width: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(90deg);
      transform: translate(-50%, -50%) rotate(90deg); }
      .zmiti-main-main-ui .zmiti-result-C div span {
        top: 50%;
        font-size: 28px;
        position: absolute;
        width: 65%;
        left: 22%;
        text-indent: 2em; }
      .zmiti-main-main-ui .zmiti-result-C div .zmiti-restart, .zmiti-main-main-ui .zmiti-result-C div .zmiti-share {
        position: absolute;
        width: 100px;
        left: 180px;
        top: 76%; }
      .zmiti-main-main-ui .zmiti-result-C div .zmiti-share {
        left: 320px; }
    .zmiti-main-main-ui .zmiti-result-C .zmiti-share-ar {
      top: 5%;
      left: 28%;
      -webkit-transform: translate(0, 0) rotate(90deg);
      transform: translate(0, 0) rotate(90deg); }
  .zmiti-main-main-ui .zmiti-scroller {
    width: 200px;
    height: 70px;
    position: absolute;
    right: 5px;
    z-index: 11;
    top: 0; }
    .zmiti-main-main-ui .zmiti-scroller.transition {
      -webkit-transition: width 1s;
      transition: width 1s; }
    .zmiti-main-main-ui .zmiti-scroller > section {
      width: 100%;
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-transform-origin: center 20px;
      transform-origin: center 20px; }
      .zmiti-main-main-ui .zmiti-scroller > section.right {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg); }
      .zmiti-main-main-ui .zmiti-scroller > section.left {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg); }
      .zmiti-main-main-ui .zmiti-scroller > section.over {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.31, 0.76, 0.72, 1.26);
        transition-timing-function: cubic-bezier(0.31, 0.76, 0.72, 1.26); }
    .zmiti-main-main-ui .zmiti-scroller .zmiti-scroller-gear {
      height: 40px;
      width: 20px;
      background: #f00;
      border-radius: 10px;
      position: absolute;
      right: 3px;
      top: 50%;
      margin-top: -20px; }
      .zmiti-main-main-ui .zmiti-scroller .zmiti-scroller-gear:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #ece9a7;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-left: -5px;
        margin-top: -5px; }
    .zmiti-main-main-ui .zmiti-scroller .zmiti-scroller-rod {
      height: 8px;
      width: 80%;
      background: #f00;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: 22px; }
    .zmiti-main-main-ui .zmiti-scroller .zmiti-scroller-latter {
      position: absolute;
      bottom: 10px;
      left: -5px;
      width: 80px; }
    .zmiti-main-main-ui .zmiti-scroller .zmiti-question {
      position: relative;
      bottom: -88px;
      left: 30px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
      .zmiti-main-main-ui .zmiti-scroller .zmiti-question span {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        top: 30px;
        text-indent: 1em;
        color: #446b9a; }
  .zmiti-main-main-ui .zmiti-controller {
    position: absolute;
    width: 400px;
    height: 100px;
    font-size: 28px;
    top: 50px;
    left: 40px;
    color: #fff;
    -webkit-transform: translate(270px, 140px) rotate(90deg);
    transform: translate(270px, 140px) rotate(90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-flow: row;
        flex-flow: row; }
    .zmiti-main-main-ui .zmiti-controller.active {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
    .zmiti-main-main-ui .zmiti-controller > div:last-of-type {
      margin: 5px 0 0 20px;
      height: 40px;
      font-family: hy; }
      .zmiti-main-main-ui .zmiti-controller > div:last-of-type span {
        color: #f00;
        font-size: 44px;
        margin: 0 10px; }
    .zmiti-main-main-ui .zmiti-controller img {
      width: 80px;
      border: 2px solid #fff;
      border-radius: 50%; }
  .zmiti-main-main-ui .zmiti-waitint-list {
    width: 200px;
    position: absolute;
    top: 0;
    -webkit-transform: translate(200px, 70vh) rotate(90deg);
    transform: translate(200px, 70vh) rotate(90deg);
    z-index: 4;
    right: 230px;
    min-height: 200px; }
    .zmiti-main-main-ui .zmiti-waitint-list .zmiti-cloud-line {
      width: 60px;
      height: 95px;
      position: absolute;
      z-index: 1;
      right: 30px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      perspective: 800px;
      -webkit-perspective: 800px; }
      .zmiti-main-main-ui .zmiti-waitint-list .zmiti-cloud-line:last-of-type {
        top: 150px;
        height: 240px; }
        .zmiti-main-main-ui .zmiti-waitint-list .zmiti-cloud-line:last-of-type > aside:after {
          display: none; }
      .zmiti-main-main-ui .zmiti-waitint-list .zmiti-cloud-line aside {
        width: 2px;
        height: 100%;
        background: #887011;
        position: absolute; }
        .zmiti-main-main-ui .zmiti-waitint-list .zmiti-cloud-line aside:after {
          content: '';
          -webkit-transform: rotateX(70deg);
          transform: rotateX(70deg);
          -webkit-transform-origin: bottom;
          transform-origin: bottom;
          position: absolute;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          border: 2px solid #999;
          bottom: -1px;
          left: -3px; }
        .zmiti-main-main-ui .zmiti-waitint-list .zmiti-cloud-line aside:nth-of-type(1) {
          left: 0; }
        .zmiti-main-main-ui .zmiti-waitint-list .zmiti-cloud-line aside:nth-of-type(2) {
          right: 0; }
    .zmiti-main-main-ui .zmiti-waitint-list .zmiti-waiting-C {
      position: absolute;
      z-index: 12;
      top: 170px;
      right: 0; }
      .zmiti-main-main-ui .zmiti-waitint-list .zmiti-waiting-C li {
        border-radius: 30px;
        margin: 20px 0;
        line-height: 50px;
        width: 200px;
        text-align: center;
        height: 50px;
        background: #fff; }
        .zmiti-main-main-ui .zmiti-waitint-list .zmiti-waiting-C li img {
          margin-right: 20px;
          width: 40px;
          border-radius: 50%; }
    .zmiti-main-main-ui .zmiti-waitint-list .zmiti-duration {
      font-family: hy;
      position: absolute;
      color: #000;
      bottom: -44px;
      text-align: center;
      width: 100%;
      font-size: 40px; }
    .zmiti-main-main-ui .zmiti-waitint-list svg {
      position: absolute;
      width: 400px;
      height: 200px; }

@-webkit-keyframes sb {
  to {
    -webkit-transform: translate3d(-2400px, 0, 0);
    transform: translate3d(-2400px, 0, 0); } }

@keyframes sb {
  to {
    -webkit-transform: translate3d(-2400px, 0, 0);
    transform: translate3d(-2400px, 0, 0); } }
@-webkit-keyframes addone {
  from {
    -webkit-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
    opacity: 1; }
  to {
    -webkit-transform: translate(50px, 0) rotate(90deg);
    transform: translate(50px, 0) rotate(90deg);
    opacity: 0; } }
@keyframes addone {
  from {
    -webkit-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
    opacity: 1; }
  to {
    -webkit-transform: translate(50px, 0) rotate(90deg);
    transform: translate(50px, 0) rotate(90deg);
    opacity: 0; } }

/*# sourceMappingURL=index.css.map */