@import "../../../../assets/css/base.scss";
 $viewW:640px;
.zmiti-main-main-ui{
   @include transform3d();
  height: 100vh;
  width: 100vw;
    @include transition(.4s);
 overflow: hidden;
   &.left{
    @include transform(translate3d(-$viewW,0,0) scale(.8));
  }
  &.active{
    @include transform(translate3d(0,0,0));
    z-index: 199;
    @include transition(.3s);
  }
  &.right{
    @include transform(translate3d($viewW*1.5,0,0) scale(2));
    z-index: 0;
  }
 

 @for $i from 1 through 13 { 
  .zmiti-submit-item:nth-of-type(#{$i}) { 
      top: random(50)+ 102px;
      $dur:random(8) + 5s;
      @include animation(sb $dur linear forwards);
   }
 }

  .zmiti-main-bg{
    &.animate{
      @include animation(bgMove 10s linear infinite);
    }
    @include transformOrigin(left);
    backface-visibility:hidden;

     img{
      width: auto;
      height: 100%; 
      font-size: 0;
      margin: 0;
      padding: 0;
      margin-left:0;
      &:last-of-type{
       margin-top: -1px;
      }
     }
     width: 100%;
     height: 100%;
     @include pos(a);
     left:0;
     top: 0;
     z-index: 0;
     .zmiti-index-grass{
       @include pos(a);
       width: 100%;
       height: 800px;
       bottom: 0px;

     }
  }  

  .zmiti-person{
    @include pos(a);
    left: 90px;
    z-index: 100;


  }
  
  .zmiti-scroll-bar{
    width: 30px;
    height: 100vh;
    @include pos(a);
    top: 0;
    z-index: 10;
    background: #fff;
    right: 0;
    div{
       width: 100%;
       height: 100%;
       @include pos(a);
      box-shadow: 0 0 10px rgba(0,0,0,.6) inset;
    }
  }


  .zmiti-logo{
     @include pos(a);
     width:400px;
     left: 50%;
     margin-left: -200px;
     top: 200px;
     @include transform(translate3d(0,-600px,0));
     @include transition(1s);
     @include transitionTimingFunction();
     &.active{
      @include transform(translate3d(0,0,0));
     }
     svg{
      @include pos(a);
      top: 40px;
      width: 100%;
      height: 120px;
      left:0;
      z-index: 10;
      .zmiti-text-path{
        font-size: 50px;
        color:#cf000d;
        font-family: hy;
      }
     }
  }


  .zmiti-addone{
     @include pos(a);
     left: 360px;
     top: 40px;

     opacity:0;
     &.active{
        @include animation(addone 1s .1s forwards);
     }
  }

  .zmiti-restart-btn{
     @include pos(a);
    left: 20px;
    bottom: 20px;
     width: 60px;
  }

  .zmiti-cotyright{
    @include pos(a);
    @include transform( translate(0,-50%) rotate(90deg));
    top: 50%;
    color:#fff;
    left: -110px;
    font-size: 24px;
    img{
      margin-right: 10px;
      width: 40px;
    }
  }
  
  .zmiti-begingrab{
    @include pos(a);
    left: 20px;
    bottom: 20px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    background: rgba(255,255,255,.7);
    text-align: center;
    line-height: 100px;
    @include br(50%);
    @include transform(rotate(90deg) translate3d(0,0,1px));
    &:before{
      content:'';
      @include pos(a);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @include br(50%);
      box-shadow: 0 0 40px rgba(0,0,0,.5), 0 0 10px rgba(0,0,0,.5) inset;
    }
    z-index: 1003;
    &.active{
      @include transition_transform(.2s);
      @include transform(translate3d(-5px,0,0) scale(.98) rotate(90deg));
    }

  }
   .zmiti-mask{
   z-index: 1006;
   background: rgba(0,0,0,.7);
   @include displayFlex(row);


   &>div{
    width:680px;
    @include transition(1s); 
    font-size: 20px;
    left: 50%;
    @include pos(a);
    top: 50%;
    
    @include transform(translate3d(-50%,-50%,0) rotate(90deg));
    .zmiti-mask-text1{
      color:#e01329;
      @include pos(a);
      font-size: 34px;
      top: 28%;
      left: 12%;
      width: 520px;
     

    }
    .zmiti-mask-text{
      
      color:#000;
      font-size: 26px;
       
      width: 70%;
     
      max-height: 100px;
      @include pos(a);
      top: 56%;
      left: 47%;
      &.r2{
        color:#940000;
      }
      opacity:0; 
      &.r1{
        opacity:1;
        @include transition(opacity .5s 1s);
      }

      
      @include transform(translate(-50%,-50%));
    }
   }
   img{

   }
 }
  
  .zmiti-result-C{
    
    z-index: 1000;
    background: rgba(0,0,0,.5);
    div{
      width: 86%;
      @include pos(a);
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%) rotate(90deg) );
      span{
        top: 50%;
        font-size: 28px;
        @include pos(a);
        width: 65%;
        left: 17%;
        text-indent: 2em;
      }
      .zmiti-restart,.zmiti-share{
         @include pos(a);
         width: 120px;
         left: 120px;
         top: 72%;
      }
      .zmiti-share{
        left: 300px;
      }
    }

    .zmiti-share-ar{
      top: 5%;
      left:23%;
      @include transform(translate(0,0) rotate(90deg) );
      z-index: 100;
    }

  }

  .zmiti-tips{
    background: rgba(0,0,0,.7);
    z-index: 102;
    img{
      @include pos(a);
      &:nth-of-type(1){
        height: 80%;
        top: 10%;
        width: auto;
        right: 0;
      }
      &:nth-of-type(2){
        width: 50%;
        bottom: 30px;
        left: 100px;
      }
    }
  }

  .zmiti-scroller{
     width: 200px;
     height: 70px;
     @include pos(a);
     right: 5px;
     z-index: 1004;
     top: 0;
     @include transform(translate3d(0,0,1px));
     &.transition{
       @include transition(width 1s);
     }
     &>section{
        width: 100%;
        @include transition(1s);  
        @include transformOrigin(center 20px);
        &.right{
          @include transform(rotate(15deg));
        }
        &.left{
          @include transform(rotate(-15deg));
        }
        &.over{
          @include transition(.5s);  
          @include transitionTimingFunction(cubic-bezier(0.31, 0.76, 0.72, 1.26));
        }

     }
     .zmiti-scroller-gear{
       height: 40px;
       width: 20px;
       background: #f00;
       @include br(10px);
       @include pos(a);
       right: 3px;
       top: 50%;
       margin-top: -20px;
       &:before{
          content:"";
          @include pos(a);
          width: 10px;
          height: 10px;
          background: #ece9a7;
          @include br(50%);
          left: 50%;
          top: 50%;
          margin-left: -5px;
          margin-top: -5px;
       };
     }
     .zmiti-scroller-rod{
       height: 8px;
       width: 80%;
       background: #f00;
       @include pos(a);
       top: 50%;
       margin-top:-4px;
       right: 22px;
     }
     .zmiti-scroller-latter{
        @include pos(a);
        bottom: 10px;
        left: -5px;
        width: 80px;
     }
      .zmiti-question{
        @include pos(r);
        bottom: -106px;
        width: 270px;
        left: -22px;
        @include transform(rotate(90deg));
        span{
          word-break:break-all;
          @include pos(a);
          @include displayBox(horizontal);
          left: 20px;
          text-align: left;
          height: 70px;
          top: 28px;
          text-indent: 0;
          color: #446b9a;
          width: 226px;
          font-size: 28px;
        }
      }
  }

  .zmiti-controller{
    @include pos(a);
    width: 400px;
    height: 100px;
    font-size: 28px;
    top: 50px;
    left: 40px;
    color:#fff;

    @include transform(translate(270px,140px) rotate(90deg));
    &.active{
      @include transform(translate(0,0));
      @include transition_transform(1s);
    }
    &>div{
      &:last-of-type{
        margin:  5px 0 0 20px;
        height: 40px;
        font-family: hy;
        span{
          color:#f00;
          font-size: 44px;
          margin: 0 10px;
        }
      }
    }
    @include displayFlex(row);
    img{
      width: 60px;
      border:2px solid #fff;
      @include br(50%);
    }
  }

  .zmiti-waitint-list{
    width: 200px;
    @include pos(a);
    top: 0;
    @include transform( translate(200px, 70vh)  rotate(90deg));
    z-index: 4;
    right: 230px;
    min-height: 200px;
    .zmiti-cloud-line{

      &:last-of-type{
         top: 150px;
         height: 240px;
         &>aside{
            &:after{display: none;}
         }
      }
       width: 60px;
       height: 95px;
       @include pos(a);
       z-index: 1;
       right: 30px;
       @include transform3d();
       aside{
            width: 2px;
            height: 100%;
            background: #887011;
            @include pos(a);

            &:after{
              content:'';
              @include transform(rotateX(70deg));
              @include transformOrigin(bottom);
              @include pos(a);
              width: 4px;
              height: 4px;
              @include br(50%);
              border:2px solid #999;
              bottom: -1px;
              left: -3px;
            }
         &:nth-of-type(1){
            left: 0;
         }
         &:nth-of-type(2){
            right: 0;
         }
       }       
    }

    .zmiti-waiting-C{
      @include pos(a);
      z-index: 12;
      top: 170px;
      right: 0;
       li{
        @include br(30px);
        margin: 20px 0;
        line-height:50px;
         width: 200px;
         text-align: center;
         
         height: 50px;
         background: #fff;
         img{
          margin-right: 20px;
          width:40px;
          @include br(50%);

         }
       }
    }

    .zmiti-duration{
       font-family: hy;
       @include pos(a);
       color:#000;
       bottom: -44px;
      text-align: center;
      width: 100%;
      font-size: 40px;
    }
    
    svg{
      @include pos(a);
      width: 400px;
      height: 200px;
      
    }
  }
}
 
@keyframes sb{
   to {
    @include transform(translate3d(-2400px,0,0));
   }
}

@keyframes addone{
  from{
     @include transform(translate(0,0) rotate(90deg));
    opacity:1;
  }
  to{
    @include transform(translate(50px,0) rotate(90deg));
    opacity:0;
  }
}